.heart {
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-50%,-50%);
    background-size: 2900%;
    height: 90px;
    width: 90px;
}

.heart:hover {
    color: tomato;
    background-position: -2799px 2px;
    transition:  1s steps(28);
}